# Environment Configuration
ASPNETCORE_ENVIRONMENT=Development

# Database (PostgreSQL)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=documind_db
POSTGRES_PORT=5435

# Storage (MinIO)
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_PORT=9000
MINIO_PORT_CONSOLE=9001
MINIO_BUCKET_NAME=documind-documents

# JWT Authentication Settings
JWT_SECRET_KEY=
JWT_ISSUER=AuthService
JWT_AUDIENCE=AuthServiceUsers

# AI Services (Gemini)
GEMINI_API_KEY=

# Web Server (Nginx)
NGINX_PORT=80
